# ----------------------
# Python
# ----------------------
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# ----------------------
# Node / Frontend
# ----------------------
node_modules/
frontend/node_modules/
dist/
build/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# VS Code
# ----------------------
.vscode/